.main{
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    animation: anim 2s infinite;
}

@keyframes anim {
    0%{
        color: red;
    }
    50%{
        color: green;
    }
}